/* ----- Generic Styling ----- */
*{
	box-sizing: border-box;
}

html,
body{
	background: #3e484e;
	color: white;
	font-family: Georgia;
}

h2{
	font-size: 1.25rem !important;
	font-weight: bold;
}

.active-pink{
	border-bottom: 4px solid #ec008c;
}

.active-yellow{
	border-bottom: 4px solid #f2b523;
}

.active-red{
	border-bottom: 4px solid #ed1c24;
}

.active-blue{
	border-bottom: 4px solid #00aeef;
}

.active-green{
	border-bottom: 4px solid #7fc241;
}

.agile-bg-pink{
	background: #ec008c;
	font-family: Georgia;
}

.agile-bg-yellow{
	background: #efb422;
	font-family: Georgia;
}

.agile-bg-red{
	background: #ed1c24;
	font-family: Georgia;
}

.agile-bg-blue{
	background: #00aeef;
	font-family: Georgia;
}

.agile-bg-green{
	background: #7fc241;
	font-family: Georgia;
}

.agile-bg-dark-grey{
	background: #30383d;
}

/* ----- Body Content CSS Rules ----- */

/* Header Styling Rules */
header{
	color: white;
	font-family: Georgia;
}

.logo-img{
	position: relative;
    z-index: 99999999;
}

.top-content{
	color: white;
}

.top-newsletter-button{
	padding: 5px;
	border: 2px solid white;
	background: #00aeef;
	color: white;
}

.top-phone-number{

}

.top-email{

}

i.fa{
	font-size: 25px;
}

nav a{
	color: white;
	text-decoration: none;
	padding: 2px 10px 2px 10px;
	border-right: 1px solid white;
	height: auto;
	text-align: center;
}

a:hover, a:focus {
	color: #fff;
}

.nav,
.navbar-toggle {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.nav {
	position: fixed;
	z-index: 999999;
	background-color: #ba1854;
	width: 100%;
	height: 100%;
	top: 0px;
}
.nav_inner {
	height: 100%;
	overflow: auto;
}

.nav-hide { display: none; }

.nav ul {
	display: table-cell;
	vertical-align: middle;
}

.nav ul li { list-style: none; }

.nav ul li a {
	font-size: 30px;
	color: inherit;
	font-weight: bolder;
	text-decoration: none;
}

.navbar-toggle {
	width: 40px;
	height: 40px;
	z-index: 200000000000;
	cursor: pointer;
	position: relative;
}

.bar1,
.bar2,
.bar3 {
	width: 100%;
	height: 6px;
	margin-bottom: 4px;
	transition: all 0.3s ease-in-out;
}

.navbar-on { 
	background-color: #ba1854; 
}

.bar1{
	background: #7fc241;
}

.bar2{
	background: #efb422;
}

.bar3{
	background: #00aeef;
}

.navbar-on .bar1 {
	transform-origin: 20% 40%;
	transform: rotate(45deg);
	background: #fff;
}

.navbar-on .bar3 {
	transform-origin: 10% 40%;
	transform: rotate(-45deg);
	background: #fff;
}

.navbar-on .bar2 { 
	background-color: transparent;
}

.mobile-nav-colour-bar{
	position: relative;
    top: 120px;
}

.mobile-nav-colour-bar-img{
	    margin: 0 auto;
    display: block;
}

.scrollbar{
	overflow-y: hidden;
	overflow-x: hidden;
}

.links-ul{
	padding-left: 15px;
}

.links{
	margin-top: 10rem;
}

.reveal-overlay{
	z-index: 9999999999 !important;
}

/* Main Styling Rules */
main{

}

.swiper-container {
	height: auto;
	text-align: center;
	color: white;
	background: #30383d;
	-moz-box-shadow: inset  0  8px 8px -8px #696868, inset  0 -8px 8px -8px #696868;
	-webkit-box-shadow: inset  0  8px 8px -8px #696868, inset  0 -8px 8px -8px #696868;
	box-shadow: inset  0  8px 8px -8px #696868, inset  0 -8px 8px -8px #696868;
}

.slider-content{
	margin: 0 auto;
	font-family: Georgia;
}

.swiper-slide{
	padding-top:60px;
	padding-bottom: 60px;
}

.targetDiv{
	margin-top: 2rem;
}

.agile-title p{
	font-size: 13.5px;
}

.client-box{
	background: #efb422;
	padding: 10px;
	color: black;
}

.client-img{
	width: 100%;
}

.client-title{
	margin-bottom: 0;
}

.client-info{
	clear: both;
}

.turn{
	-webkit-transform: rotate(90deg);
	white-space: nowrap;
}

.turnt{
	height: 200px;
}

/* Footer Styling Rules */
footer{
	background: #30383d;
	font-family: Georgia;
}

/* ----- Misc. CSS Rules ----- */

/* ----- Media Queries ----- */

@media screen and (max-width: 639px) {
	.clients-box{
		margin-top: 2rem;
	}
}

@media screen and (max-width: 600px) {
	.slider-content{
		width: 100%;
	}
	.swiper-slide{
		padding: 40px;
	}
}

@media screen and (min-width: 600px) {
	.slider-content{
		width: 430px;
	}
}

@media screen and (max-width: 1023px) {
	.nav ul li a {
		font-size: 20px;
	}
	.links-two{
		margin-top: 1rem !important;
		padding-left: 26px;
	}
}
