/* ----- Generic Styling ----- */
html,
body{
	background: #3e484e;
	color: white;
}

h2{
	font-size: 1.25rem !important;
}

.active-pink{
	border-bottom: 2px solid #ec008c;
}

.active-orange{
	border-bottom: 2px solid #f2b523;
}

.active-red{
	border-bottom: 2px solid #ed1c24;
}

.active-blue{
	border-bottom: 2px solid #00aeef;
}

.active-green{
	border-bottom: 2px solid #7fc241;
}

/* ----- Body Content CSS Rules ----- */

/* Header Styling Rules */
header{
	color: white;
	font-family: Georgia;
}

.top-content{
	float: left;

}

.top-phone-number{
	
}

.top-email{

}

i.fa{
	font-size: 25px;
}

nav a{
	color: white;
	text-decoration: none;
}

/* Main Styling Rules */
main{

}

.swiper-container {
    height: auto;
    text-align: center;
    color: white;
    background: #30383d;
    padding: 30px;
    -moz-box-shadow: inset  0  8px 8px -8px #696868, inset  0 -8px 8px -8px #696868;
    -webkit-box-shadow: inset  0  8px 8px -8px #696868, inset  0 -8px 8px -8px #696868;
    box-shadow: inset  0  8px 8px -8px #696868, inset  0 -8px 8px -8px #696868;
}

.slider-content{
	width: 450px;
	margin: 0 auto;
	font-family: Georgia;
}

.targetDiv{
	margin-top: 2rem;
}

/* Footer Styling Rules */
footer{

}

/* ----- Misc. CSS Rules ----- */
